<h1>Clark's Wildthings Refuge</h1>

<blockquote>
  When we contemplate the whole globe as one great dewdrop,
  striped and dotted with continents and islands, flying through
  space with other starts all singing and shining together as one,
  the whole univers appears as an infinite storm of beauty.
  -- John Muir
</blockquote>
